<!DOCTYPE html>
<html>
    <head>
        <title>
        variantMTB Report
        </title>
        <style>
            h1{font-family:Arial; text-align:center}
            details{font-family:Arial; text-align:center}
            h2{font-family:Arial; text-align:center}
            p{font-family:Arial; text-align:center}
            div{text-align:center; margin:0 auto}
            details summary > * { 
                display: inline;
                cursor: pointer;
            }
            .indented {
                padding-left: 50pt;
                padding-right: 50pt;
            }
        </style>
    </head>
        <h1> variantMTB Report -Tiers- </h1>
        <div style="display:flex;flex-direction:row;">
            <div>                        <script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script>
                <script charset="utf-8" src="https://cdn.plot.ly/plotly-2.20.0.min.js"></script>                
                TEMPLATE_1
                <div>                        <script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script>
                TEMPLATE_2
            </div>
            <hr />
            <br><br>
            <details>
                <summary><h1> Tier 1 - Variants of Strong Clinical Significance - </h1></summary>
                <p class="indented">                
                The Prioritization of Variants into Tiers is based on the Standards and Guidelines of the <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5707196/">AMP</a>.<br>
                Variants in Tier 1 are described as therapeutic, diagnostic or prognostic biomarkers<br>with an Evidence Level of A or B in at least one of the queried Knowledgebases.
                </p>
            </details>
            <div>                        <script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script>
                TEMPLATE_TIER1
            <details>
                <summary><h1> Tier 2 - Variants of Potential Clinical Significance - </h1></summary>
                <p> 
                The Prioritization of Variants into Tiers is based on the Standards and Guidelines of the <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5707196/">AMP</a>.<br>
                Variants in Tier 2 are described as therapeutic, diagnostic or prognostic biomarkers<br>with an Evidence Level of C or D in at least one of the queried Knowledgebases.
                </p>
            </details>
            <div>                        <script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script>
                TEMPLATE_TIER2
            <details>
                <summary><h1> Tier 3 - Variants of Unknown Clinical Significance </h1></summary>
                <p> 
                The Prioritization of Variants into Tiers is based on the Standards and Guidelines of the <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5707196/">AMP</a>.<br>
                Variants in Tier  3 are not necessarily described with therapeutic, diagnostic or prognostic evidence.<br>If so, the CIViC evidence level is E.
                Other variants in Tier 3 are considered oncogenic in the CGI Knowledgebase<br>and are not observed at a significant allele frequency in the general population.

                </p>
            </details>
            <div>                        <script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script>
                TEMPLATE_TIER3
            <!-- 
            <details>
                <summary><h1> Tier 4 </h1></summary>
                <p> 
                The Prioritization of Variants into Tiers is based on the Standards and Guidelines of the <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5707196/">AMP</a>.<br>
                <b>Benign or Likely Benign Variants:</b> Variants in Tier 4 are all other Variants in the given project.
                </p>
            </details>
            <div>                        <script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script>
                TEMPLATE_TIER4 -->
        </div>
    </div>
</html>
